.container {
    width: 90%;
    max-width: 1920px;
    margin-right: auto;
    margin-left: auto;
}

[class^="d-grid-"] {
    display: grid;
}

[class^="d-flex-"] {
    display: flex;
}

.d-flex {
    &-column {
        flex-direction: column;
    }
    &--align-items-start {
        align-items: flex-start;
    }
    &--align-items-end {
        align-items: flex-end;
    }
    &--align-items-center {
        align-items: center;
    }
    &--justify-content-start {
        justify-content: flex-start;
    }
    &--justify-content-end {
        justify-content: flex-end;
    }
    &--justify-content-center {
        justify-content: center;
    }
    &--justify-content-between {
        justify-content: space-between;
    }
    &--justify-content-around {
        justify-content: space-around;
    }
}



@for $i from 1 through 12 {
	.d-grid-#{$i} {
		grid-template-columns: repeat(#{$i}, 1fr);
		@include phone {
			grid-template-columns: 1fr;
		}
	}
}

@for $i from 1 through 5 {
	.gutter-#{$i} {
		grid-gap: #{$i}rem;
	}
}

.leaf-container {
    max-width: 1200px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}
