@import url('https://rsms.me/inter/inter.css');

:root {
    
    --primary       : #2A2A72;
    --secondary     : #020122;

    --acent-color   : #F4442E;


    --text-color    : #212529;

    --color-body    : rgb(240, 242, 247);
    --danger        : rgb(245, 100, 88);
    --succes        : rgb(72, 207, 146);

    /*
        Typography
    */

    --font-family       : 'Inter', sans-serif;
    --line-height       : 1.6;


    --font-size         : 16px;
    --font-size-xs      : 10px;
    --font-size-sm      : .8em;
    --font-size-m       : calc(var(--font-size) + 2);
    --font-size-l       : calc(var(--font-size-m) + 2);

    --font-size-md     : 2.2em;
    --font-size-lg     : 3.2em;

    --font-style-light  : 100;
    --font-style-regular: normal;
    --font-style-semibold: 400;
    --font-style-bold    : 700;

    /*
        Layers
    */

    --z-back            : -1;
    --z-normal          : 1;
    --z-subnormal       : 2;
    --z-tooltip         : 10;
    --z-fixed           : 100;
    --z-modal           : 1000; 

    /*
        Sizing
    */

    --padding-none      : 0;
    --margin-none       : 0;

    --padding           : 1rem;
    --margin            : 1rem;

    --padding-xs        : calc(var(--padding) / 2);
    --margin-xs         : calc(var(--margin) / 2);

    --padding-m         : calc(var(--padding) * 2);
    --margin-m          : calc(var(--margin) * 2);

    --padding-l         : calc(var(--padding) * 3);
    --margin-l          : calc(var(--margin) * 3);

    --padding-em        : 1em;
    --margin-em         : 1em;

    --padding-em-m      : calc(var(--padding-em) * 2);
    --margin-em-m       : calc(var(--margin-em) * 2);

    --padding-em-l      : calc(var(--padding-em) * 3);
    --margin-em-l       : calc(var(--margin-em) * 3);


    /*
       Miscelaneous
    */

    --border-radius     : .15rem;
    --border-radius-m   : calc(var(--border-radius) + 1.1);
    --border-radius-l   : calc(var(--border-radius-m) + 1.1);

    --all-transition    : all .2s ease-in-out;
    --hover-transition  : all 150ms ease;
    --input-transition  : .2s ease-in-out;
    --header-height     : 15vh;


    --simple-box-shadow : 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

    /*
        Breakpoints
    */

    --breakpoint-xs     : 0;
    --breakpoint-sm     : 576px;
    --breakpoint-md     : 768px;
    --breakpoint-lg     : 992px;
    --breakpoint-xl     : 1200px;
}


    /*
        Breakpoints
    */

    $breakpoint-xs     : 0;
    $breakpoint-sm     : 767px;
    $breakpoint-md     : 768px;
    $breakpoint-lg     : 992px;
    $breakpoint-xl     : 1024px;
