.communities-list {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 150px;
    grid-auto-rows: 150px;
    grid-gap: 2rem;
    list-style-type: none;
    @include tablet {
        grid-template-columns: repeat(2,1fr);
    }
    @include phone {
        grid-template-columns: repeat(1,1fr);
    }
}


.community {
    height: 100%;
    display: grid;
    grid-template-columns: .2fr 1fr;
    align-items: center;
    &__content {
        display: flex;
        padding: 1rem;
        flex-direction: column;
        font-weight: bold;
    }
    &__image {
        border-radius: 100%;
        overflow: hidden;
        background-color: var(--secondary);
        width: 100px;
        height: 100px;
        border: 4px solid var(--secondary);
        img {
            mix-blend-mode: multiply luminosity;
            object-fit: cover;
            width: 100%;
            height: 100%;
            transition: all .5s ease-in-out;
            &:hover {
                mix-blend-mode: normal;
            }
        }
    }
    &__social {
        margin: .55rem 0;
        i {
            color: #212529;
            opacity: .3;
        }
        a {
            display: inline-block;
            margin-right: .55rem;
        }
    }
}