.button,
[class^="button--"] {
    display: inline-block;
    text-align: center;
	line-height: 3em;
    padding: 0 .75em;
    border-radius: .25rem;
    border: none;
    text-decoration: none;
    user-select: none;
    transition: .2s ease-in-out;
    transition-property: color, background-color, border;
    &:focus {
        outline: 0;
    }
	&:active {
		transform: scale(.95);
	}
}
.button-lg,
[class^="button-lg--"] {
    display: inline-block;
    text-align: center;
	line-height: 3em;
    padding:.15em 2em;
    border-radius: .25rem;
    border: none;
    text-decoration: none;
    user-select: none;
    transition: .2s ease-in-out;
    transition-property: color, background-color, border;
    &:focus {
        outline: 0;
    }
	&:active {
		transform: scale(.95);
	}
}
.button,.button-lg{
    &--primary {
        background-color: var(--acent-color);
        color: #FFF;
    }
    &--secondary{
        background-color: var(--primary);
        color: #FFF;
    }
    &--outline-secondary{
        border:solid 1px var(--primary);
        color: var(--primary);
        background: transparent;
    }
}

