.grid-container, [class^=grid-container-] {
    display: grid;
}
.grid-container{
    &--fill {
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    }
    &--fit {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }
}
  